.example-card {
  max-width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-header-image {
  background-image: url('https://e7.pngegg.com/pngimages/223/101/png-clipart-question-mark-question-mark-thumbnail.png');
  background-size: cover;
}

.container {
  padding-bottom: calc(25% - 0.75px);
  display: block;
  position: relative;
  padding-top: 8px;
}

.topico {

  left: 0px;
  width: 100%;
  /* calc(75% - 0.25px); */
  margin-top: 0px;
  padding-left: 5%;
  padding-top: calc(1% - 0.75px);
  display: block;
  overflow: hidden;
  position: absolute;
  background-color: orchid;
}

.recomendacao {
  left: calc(75% + 0.75px);
  width: calc(25% - 0.75px);
  margin-top: 0px;
  /* padding-top: calc(25% - 0.75px); */
  display: block;
  overflow: hidden;
  position: absolute;
}

.topico-info>ul {
  list-style-type: none;
}

.topico-content {
  padding-top: 20px;
  border: 1px;
}

.respostas>textarea {
  width: 70%;
  margin: 0 10px 0 10px;
  /* padding: 0 10% 7% 10%; */
}

.mat-toolbar {
  background-color: #9c27b0;
}

.bag {
  background-color: #303030;
  height: 100%;
  padding-top: 8px;

}

.example-spacer {
  flex: 1 1 auto;
}

.admin-button-row {
  display: table-cell;
  width: 490px;
}
