<!-- NAVBAR -->
<mat-toolbar>
  <mat-toolbar-row class="tololbar">
    <span>ForumDev<mat-icon></mat-icon></span>
    <span class="example-spacer"></span>
    <span *ngIf="user.email !== null">
      <button mat-button [matMenuTriggerFor]="user_menu">{{user.email}}</button>
      <mat-menu #user_menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </span>
    <span *ngIf="user.nome === null;">
      <button mat-flat-button color="accent" routerLink="/login">Login</button>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row class="">
    <span><t routerLink="/">Cursos</t> > <t routerLink="/{{cursoNome}}">{{cursoNome}}</t> > {{topico.titulo}}<mat-icon></mat-icon></span>

  </mat-toolbar-row>
</mat-toolbar>

<!-- Detalhe DE TÓPICO -->
<div class="bag">

  <button mat-raised-button color="accent" (click)="goBack()">Voltar</button>

  <div class="container">
    <div class="topico">
      <div class="topico-header">
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <h1>{{topico.titulo}}</h1>
        <div class="topico-info">
          <ul>
            <li><b>Criado em: </b>{{topico.dataCriacao}}</li>
            <li><b>Autor: </b>{{topico.nomeAutor}}</li>
            <li>{{topico.status}}</li>
          </ul>
        </div>
      </div>
      <!-- opções de autor e admin -->
        <div class="admin-button-row">
          <button *ngIf="isAutor" (click)="editarTopico()" color="primary">
            <mat-icon>edit icon</mat-icon>
          </button>
          <button mat-fab color="primary" *ngIf="isAdmin" (click)="apagarTopico()" >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      <hr>
      <div class="topico-content">
        <p>{{topico.mensagem}}</p>
      </div>

      <div class="respostas">
        <textarea type="text" name="" id="" [(ngModel)]="textarea"></textarea>
        <button mat-raised-button color="accent" (click)="postNovaResposta()">Nova Resposta</button>

        <div *ngFor="let resposta of topico.respostas">
          <div>
            <b>Autor: </b> {{resposta.autor.email}}
            <b>Respondido em: </b> {{resposta.dataCriacao}}
            <p>{{resposta.mensagem}}</p>
          </div>
        </div>
      </div>

    </div>

    <!-- <div class="recomendacao">

      <h2>RECOMENDAÇÕES</h2>
      <ul>
        <li>recomendação</li>
        <li>recomendação</li>
        <li>recomendação</li>
        <li>recomendação</li>
      </ul>

    </div> -->
  </div>
</div>