<h1 mat-dialog-title>Novo tópico</h1>
<div mat-dialog-content>
    <form class="novo-topico" [formGroup]="topicoForm">
        <mat-form-field class="novo-topico-full-width">
            <mat-label>Título</mat-label>
            <input matInput formControlName="titulo" name="titulo">
        </mat-form-field>
        <mat-form-field class="novo-topico-full-width">
            <mat-label>Mensagem:</mat-label>
            <textarea matInput formControlName="titulo" name="titulo"></textarea>
        </mat-form-field>
        <!-- <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->


    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="accent" (click)="novoTopico()">Criar</button>
</div>