<h1 mat-dialog-title>Atualizar tópico</h1>
<div mat-dialog-content>
    <form class="novo-topico" [formGroup]="topicoForm">
        <span>"{{data.topico.titulo}}"</span>
        <mat-form-field class="novo-topico-full-width">
            <mat-label>Novo título</mat-label>
            <input matInput formControlName="titulo" name="titulo">
        </mat-form-field>
        <span>"{{data.topico.mensagem}}"</span>
        <mat-form-field class="novo-topico-full-width">
            <mat-label>Nova mensagem</mat-label>
            <textarea matInput formControlName="mensagem" name="mensagem"></textarea>
        </mat-form-field>
       
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button 
        mat-raised-button 
        color="accent" 
        (click)="atualizaTopico()"
        [disabled]="!topicoForm.valid"
        >Atualizar topico</button>
</div>