.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://e7.pngegg.com/pngimages/223/101/png-clipart-question-mark-question-mark-thumbnail.png');
    background-size: cover;
  }