<!-- NAVBAR -->
<mat-toolbar>
    <mat-toolbar-row class="tololbar">
        <span>DevFórum<mat-icon></mat-icon></span>
        <span class="example-spacer"></span>
        <span *ngIf="user.email !== null">
            <button mat-button [matMenuTriggerFor]="user_menu">{{user.email}}</button>
            <mat-menu #user_menu="matMenu">
                <!-- <button mat-menu-item>{{user.email}}</button> -->
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </span>
        <span *ngIf="user.nome === null;">
            <button mat-flat-button color="accent" routerLink="/login">Login</button>
        </span>
    </mat-toolbar-row>
    <mat-toolbar-row class="">
        <span>Cursos<mat-icon></mat-icon></span>

    </mat-toolbar-row>
</mat-toolbar>

<!-- LISTA DE CURSOS -->
<mat-list>
    <mat-list-item *ngFor="let curso of cursos" >
          <mat-icon mat-list-icon class="icone-lista">topico</mat-icon>
          <div mat-line class="titulo" (click)="listaTopicos(curso.nome)" >{{curso.nome}}</div>
          <div mat-line class="categoria"> {{curso.categoria}} </div>
          <button mat-raised-button color="accent" (click)="listaTopicos(curso.nome)">Ver</button>

    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>
<app-footer></app-footer>
