<h1 mat-dialog-title>Novo tópico</h1>
<div mat-dialog-content>
    <form class="novo-topico" [formGroup]="topicoForm">
        <mat-form-field class="novo-topico-full-width">
            <mat-label>Título</mat-label>
            <input matInput formControlName="titulo" name="titulo">
        </mat-form-field>
        <mat-form-field class="novo-topico-full-width">
            <mat-label>Mensagem:</mat-label>
            <textarea matInput formControlName="mensagem" name="mensagem"></textarea>
        </mat-form-field>
       


    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button 
        mat-raised-button 
        color="accent" 
        (click)="novoTopico()"
        [disabled]="!topicoForm.valid"
        >Criar Topico</button>
</div>