form > .novo-topico {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.novo-topico-full-width {
    width: 100%;
}
.mat-toolbar {
    background-color: #9c27b0;
}
/* .mat-list {
    background-color: #303030
} */
.example-spacer {
    flex: 1 1 auto;
  }